body{
  background-image: url(bkg.PNG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin:0;
  padding:0;
  font: normal 1.5em "Comic Neue",sans-serif;
  color:#1c1c1c;
}

.container{
  display: grid;
  width:100%;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows:53px auto auto;
}

nav{
  flex-direction: row;
  align-items: center;
  padding-left:11%;
  padding-right:11%;
  display: flex;
  background-color: #fffff2;
  grid-area: 1/1/1/4;
  position: sticky;
  top: 0;
  z-index:7;
}

.photo{
  display: flex;
  grid-area: 2/1/2/4;
  border-bottom: 3px solid #fffff2;
  z-index: 6
}

 #luffy{
   width: 100%;
   height: auto;
 }

 .main{
   display: flex;
   background-color: #fffff2;
   grid-area: 3/2/3/2;
   margin: 80px;
   padding: 2%;
   z-index: 4;
   flex-direction:row-reverse;
 }

.main p{ width:50%;
  float:left;
  z-index:5;
  margin:1%;
}

#logo{
  width:auto;
  height: 90%;
  z-index:8;
  float: left;
}


ul{
  display: flex;
  list-style: none;
  flex-direction: row;
  margin-left: 57%;
}

a{
  display: block;
  color: #1c1c1c;
  padding: 0;
  margin-left:4px;
  margin-right:4px;
  text-decoration: none;
}

span{
  font-size:1.8em;
}

.main img{
  width:50%;
  opacity: 1;
  z-index:5;
}
